.item {
    border: 1px solid gray;
    margin-bottom: 20px;
}

.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.info{
    padding: 10px;
}

.info h2{
    margin-bottom: 10px;
}

.info p{
    margin-bottom: 10px;
}

.presentation__text{
    position: absolute;
    top: 20em;
    left: 11em;
    max-width: 20em;
    padding: 40px;
    background-color: rgba(204, 163, 112, 0.8);
    font-size: 1.1em;
}

.presentation__text p{
    padding-bottom: 10px;
}

.presentation__text p:last-child{
    padding-bottom: 0px;
}